*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;

	max-width: 1440px;
	min-height: 100vh;

	margin: auto;

	font-size: 14px;

	background-color: #fffef8;
}
button,
h1,
h2 {
	font-family: "Syne";
}

:root {
	--light-grey: #b3b3b3;
	--dark-green: #1d6154;
}

/* --------------------------------- */

main {
}

h1 > span {
	font-size: 10px;
	letter-spacing: 0.1em;
}
input,
select,
h1 > span,
body {
	font-family: "Work Sans";
}
h2 {
	font-weight: 700;
	font-size: 30px;
	color: var(--dark-green);
}

/* ---------------factorisation------------------ */

.edit-projects__add-photo-form,
.edit-projects__add-photo-form > label,
#image-label,
.header,
.login-form,
.login-form > label,
.edit-projects__section,
.header-bar,
#introduction,
.header-bar > nav ul,
.title_edit-project,
.filters-container,
.edits-projects__back-to-gallery-btn,
.edit-projects__modal-navigation,
.edit-projects__section-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit-projects__add-photo-form,
.edit-projects__add-photo-form > label,
#image-label,
.header,
.login-form,
.login-form > label,
.edit-projects__section {
	flex-direction: column;
}

button {
	position: relative;

	font-weight: 700;
	font-size: 14px;

	background: var(--dark-green);
	color: white;

	text-align: center;

	border-radius: 60px;
	border: 1px solid var(--dark-green);
}

/* --------------header------------------- */
.header {
	margin-bottom: 100px;
}
.header.active {
	gap: 30px;
}
.header.active .edition-mode-bar {
	visibility: visible;
}
.edition-mode-bar {
	visibility: hidden;

	background-color: #000000;

	line-height: 1;

	font-size: 16px;
	text-align: center;
	color: #ffffff;

	width: 100%;

	padding: 20px;
}
.edition-mode-bar > svg {
	margin-right: 12px;
}
.header-bar {
	max-width: 1140px;

	justify-content: space-between;

	width: 100%;
}
.header-bar > h1 {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}
.header-bar > nav ul {
	list-style-type: none;
}
.header-bar > nav li {
	padding: 0 10px;
}

.header-bar > nav > ul li a {
	font-size: 16px;
	color: #000000;

	text-decoration: none;
}
.header-bar > nav > ul li a:hover {
	color: #b1663c;
}

.header-bar > nav ul li img {
	width: 22px;
}

/* --------------------------------- */

.intro-portfolio-contact.active {
	display: none;
}

/* --------------------------------- */

#introduction {
	gap: 75px;

	margin-bottom: 115px;
}

#introduction figure {
}
#introduction img {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 474px;
}

#introduction article {
	flex: 1;
	max-width: 404px;
}
#introduction h2 {
	margin-bottom: 0.7em;
}

#introduction p {
	margin-bottom: 0.9em;
}

.title_edit-project {
	gap: 30px;
}
.title_edit-project > .edit-project__open-modal-btn {
	display: none;

	border: none;

	background: none;

	color: #000000;
}
.title_edit-project > .edit-project__open-modal-btn.active {
	display: block;
}

.edit-project__open-modal-btn > svg {
	margin-right: 10px;
}

/* --------------------------------- */

.filters-container {
	gap: 10px;

	margin: 50px;
}

.filters-container > .filter.active {
	background: none;
	color: var(--dark-green);
	display: block;
}
.filter {
	min-width: 100px;

	line-height: 1;

	padding: 10.5px 20px;
}
/* --------------------------------- */

.gallery {
	display: grid;
	grid-template-columns: repeat(3, 305px);
	grid-gap: 20px;

	width: fit-content;

	margin: auto;
}

.gallery img {
	width: 100%;
}

.gallery > figure > figcaption {
	font-size: 13px;
	margin-top: 5px;
}

/* --------------------------------- */

#contact {
	width: 50%;

	margin: 60px auto;

	max-width: 379px;
}
#contact > * {
	text-align: center;
}
#contact > p {
	font-size: 16px;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;

	margin-top: 30px;

	display: flex;
	flex-direction: column;

	color: #3d3d3d;
}

#contact input {
	height: 50px;

	font-size: 1.2em;

	border: none;

	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2.2em 0 1em;
	font-weight: 500;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact > form .send-message-btn {
	max-width: 179px;
	width: 100%;

	margin: 40px auto;
}

/* --------------------------------- */

.footer {
	width: 100%;
	background-color: #ffffff;
}
.footer.active {
	position: fixed;
	bottom: 0;
	left: 0;
}
.footer nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	list-style: none;
	font-weight: 300;

	height: 60px;

	padding-right: 107px;
}

/* --------------------------------- */

/* login-page */

.login-page {
	display: none;

	width: 100%;
	height: auto;

	flex: 1;
}
.login-page.active {
	display: block;
}

.login-form {
	gap: 35px;
}
.login-form > label {
	gap: 10px;

	max-width: 379px;
	width: 100%;
}
.login-form > label > span {
	align-self: start;

	color: #3d3d3d;

	font-weight: 600;
}
.login-form > label > input {
	width: 100%;
	height: 51px;

	box-sizing: border-box;

	border: none;

	box-shadow: 0px 4px 14px 0px #00000017;
}
.login-form > a {
	color: #3d3d3d;

	font-weight: 600;
}

/* ----------------modale----------------- */

.edit-projects__modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
	justify-content: center;

	width: 100%;
	height: 100%;

	background: #0000004d;
}

.edit-projects__modal.active {
	display: flex;
}
.modal__main-container {
	width: 100%;
	max-width: 630px;
	max-height: 688px;

	transform: translateY(95%);

	border-radius: 10px;

	background: #ffffff;
}
.edit-projects__gallery-grid {
	display: grid;
	grid-template-columns: repeat(5, 77px);
	grid-gap: 30px 10px;

	width: fit-content;
}

.edit-projects__section {
	display: none;

	width: 100%;
}

.edit-projects__gallery-section.active,
.edit-projects__add-photo-section.active {
	display: flex;
}

/* -----------------bouton retour et fermet modale---------------- */

.edit-projects__modal-navigation {
	justify-content: space-between;

	width: 90%;

	margin: auto;
	padding: 24px 0 18px;
}
.modal-navigation-btn {
	position: relative;
	width: 24px;
	height: 24px;

	padding: 0;

	border: none;
	background: none;
}
.edits-projects__back-to-gallery-btn {
	visibility: hidden;
}
.edits-projects__back-to-gallery-btn.active {
	visibility: visible;
}

.modal-navigation-btn > span {
	position: relative;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	display: block;

	width: 61%;
	height: 2px;

	border-radius: 1px;

	background-color: #000000;
}

.modal-navigation-btn > span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);

	width: 100%;
	height: 100%;

	border-radius: 2px;

	content: "";

	background-color: #000000;
}
.edit-projects__section > h3 {
	font-size: 26px;
	font-weight: 400;
}
.edit-projects__section-main {
	position: relative;
	flex-direction: column;

	margin: 40px 0 0;
}
.edit-projects__add-photo-btn,
.add-photo-form__submit-btn {
	width: 237px;

	line-height: 1;

	padding: 10px 0;
	margin: 45px 0 0;
}
.edit-projects__section-main::after {
	position: absolute;
	bottom: 70px;
	left: 0%;

	display: block;
	width: 100%;
	height: 1px;

	content: "";

	background-color: var(--light-grey);
}
.edit-projects__projects-photos-container::after {
	bottom: 0;
}
.edit-projects__projects-photos-container > .edit-projects__add-photo-btn {
	transform: translateY(70px);
}

.edit-projects__gallery-grid img {
	width: 100%;
	max-width: 100%;
	height: 100%;

	object-fit: cover;
}
.edit-projects__gallery-grid > figure {
	position: relative;
	display: block;
	width: 100%;
	height: 102px;
}
.edit-projects__gallery-grid > figure > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.edit-projects__gallery-grid > figure > button {
	display: flex;
	justify-content: center;
	align-items: center;

	top: 13%;
	left: 82%;
	z-index: 1;

	width: 17px;
	height: 17px;

	border-radius: 2px;
	border: none;

	background: #000000;
}

/* ---------------form------------------ */

.edit-projects__add-photo-section {
}
.edit-projects__add-photo-form {
	max-width: 425px;
	width: 100%;

	gap: 30px;
}

#image-label {
	position: relative;
}
.uploaded-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 129px;
	height: 100%;
}
.edit-projects__add-photo-form > label {
	width: 100%;
	gap: 7px;
}
.edit-projects__add-photo-form > label > span {
	align-self: start;
	font-weight: 600;
}
.edit-projects__add-photo-form > label > input:not(#file-upload),
.edit-projects__add-photo-form > label > select {
	width: 100%;
	height: 51px;

	font-size: 14px;

	border: none;

	box-shadow: 0px 4px 14px 0px #00000017;
}
#image-label {
	justify-content: space-between;
	gap: 0;

	height: 169px;

	border-radius: 2px;

	padding: 25px 0 15px;

	background-color: #e8f1f6;
}

#image-label:focus {
	outline: solid 2px black;
}

.image-label__span {
	align-self: center !important;

	border-radius: 50px;

	padding: 11px 33px;

	color: #306685;

	opacity: 1;

	line-height: 1;

	background-color: #cbd6dc;
}
#image-label > p {
	font-size: 10px;
	line-height: 1;
}
#file-upload {
	opacity: 1;
	height: 0;
}

.add-photo-form__submit-btn {
	border: none;
}
.add-photo-form__submit-btn.active {
	background-color: #a7a7a7;
}

.add-photo-form__uploaded-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	max-height: 100%;

	opacity: 0;
}
.add-photo-form__uploaded-image.visible {
	opacity: 1;
}
.add-photo-form__uploaded-image.visible ~ .image-label__span {
	opacity: 0;
}
