/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/** end reset css**/
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1140px;
	min-height: 1024px;

	margin: auto;

	font-size: 14px;

	background-color: #fffef8;
}
button,
h1,
h2 {
	font-family: "Syne";
}

:root {
	--light-grey: #b3b3b3;
	--dark-green: #1d6154;
}

/* --------------------------------- */

header {
	display: flex;
	justify-content: space-between;
}
main {
	position: relative;
}

h1 {
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-size: 10px;
	letter-spacing: 0.1em;
}
input,
select,
h1 > span,
body {
	font-family: "Work Sans";
}
h2 {
	font-weight: 700;
	font-size: 30px;
	color: var(--dark-green);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
}

nav > ul li a {
	font-size: 16px;
	color: #000000;

	text-decoration: none;
}
nav > ul li a:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.title_edit-project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
.title_edit-project > .edit-project__open-modal-btn {
	border: none;
	background: none;
	font-size: 14px;
}
.edit-project__open-modal-btn > svg {
	margin-right: 10px;
}

.filters-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact > p {
	font-size: 16px;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
	font-weight: 500;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/* --------------------------------- */

button:not(
		.edit-project__open-modal-btn,
		.edit-projects__projects-photos-container > figure > button
	) {
	position: relative;

	font-weight: 700;
	font-size: 16px;
	color: var(--dark-green);

	background: var(--dark-green);
	color: white;

	padding: 0px 9px;

	min-width: 100px;
	height: 37px;

	text-align: center;

	border-radius: 60px;
	border: 1px solid var(--dark-green);
}
.filters-container > .filter.active {
	background: none;
	color: var(--dark-green);
	display: block;
}

/* login-page */

.login-page {
	display: none;

	width: 100%;
	height: auto;

	flex: 1;
}
.login-page.active {
	display: block;
}
.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 35px;
}
.login-form > label {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;

	max-width: 379px;
	width: 100%;
}
.login-form > label > span {
	align-self: start;

	color: #3d3d3d;

	font-weight: 600;
}
.login-form > label > input {
	width: 100%;
	height: 51px;

	box-sizing: border-box;

	border: none;

	box-shadow: 0px 4px 14px 0px #00000017;
}
.login-form > a {
	color: #3d3d3d;

	font-weight: 600;
}
/* --------------------------------- */
footer {
	/*	position: fixed;
	bottom: 0;
	left: 0;*/

	width: 100%;
	background-color: white;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	height: 60px;
}

/* --------------------------------- */

.edit-projects__modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
	justify-content: center;

	width: 100%;
	height: 100%;

	background: #0000004d;
}
.edit-projects__modal.active {
	display: flex;
}
.edit-projects__projects-photos-container {
	display: grid;
	grid-template-columns: repeat(5, 77px);
	grid-gap: 30px 10px;

	width: fit-content;
}
.edit-projects__section {
	position: relative;

	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	transform: translateY(70%);

	width: 100%;
	max-width: 630px;
	height: 100%;
	max-height: 688px;

	background: #ffffff;
}

.edit-projects__gallery-section.active,
.edit-projects__add-photo-section.active {
	display: flex;
}

.edit-projects__add-photo-btn {
	padding: 0 20px;
}
.edit-projects__close-modale-btn {
	/*	position: absolute;
	top: 10%;
	left: 80%;
	transform: translate(-50%, -50%);*/

	border: none;
	background-color: transparent;
}
.edit-projects__close-modale-btn > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);

	width: 17px;
	height: 2px;

	border-radius: 2px;

	background-color: #000000;
}

.edit-projects__close-modale-btn > span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);

	width: 100%;
	height: 100%;

	border-radius: 2px;

	content: "";

	background-color: #000000;
}
.edit-projects__section > h3 {
	font-size: 26px;
	font-weight: 400;
}
.edit-projects__section-main {
	position: relative;

	margin: 40px 0 0;
}
.edit-projects__section-main > button {
	margin-top: 50px;

	font-size: 14px;
}
.edit-projects__section-main::after {
	position: absolute;
	bottom: 70px;
	left: 0%;

	display: block;
	width: 100%;
	height: 1px;

	content: "";

	background-color: var(--light-grey);
}
.edit-projects__projects-photos-container img {
	width: 100%;
	max-width: 100%;
	height: 100%;

	object-fit: cover;
}
.edit-projects__projects-photos-container > figure {
	position: relative;
	display: block;
	width: 100%;
	height: 102px;
}
.edit-projects__projects-photos-container > figure > * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.edit-projects__projects-photos-container > figure > button {
	display: flex;
	justify-content: center;
	align-items: center;

	top: 13%;
	left: 82%;
	z-index: 1;

	width: 17px;
	height: 17px;

	border-radius: 2px;
	border: none;

	background: #000000;
}

/* --------------------------------- */
.edit-projects__add-photo-section {
}
.edit-projects__add-photo-form {
	min-width: 425px;

	gap: 30px;
}

.edit-projects__add-photo-form,
.edit-projects__add-photo-form > label,
#image-label {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.edit-projects__add-photo-form > label {
	width: 100%;
	gap: 7px;
}
.edit-projects__add-photo-form > label > span {
	align-self: start;
	font-weight: 600;
}
.edit-projects__add-photo-form > label > input:not(#file-upload),
.edit-projects__add-photo-form > label > select {
	width: 100%;
	height: 51px;

	font-size: 14px;

	border: none;

	box-shadow: 0px 4px 14px 0px #00000017;
}
#image-label {
	justify-content: space-between;
	gap: 0;

	height: 169px;

	border-radius: 2px;

	padding: 25px 0 15px;

	background-color: #e8f1f6;
}

#image-label:focus {
	outline: solid 2px black;
}

#image-label > span {
	align-self: center;

	border-radius: 50px;

	padding: 11px 33px;

	color: #306685;

	line-height: 1;
	font-weight: 600;

	background-color: #cbd6dc;
}
#image-label > p {
	font-size: 10px;
	line-height: 1;
}
#file-upload {
	opacity: 1;
	height: 0;
}

.edit-projects__add-photo-form > button {
	background-color: var(--light-grey);

	width: 237px;
}
.edit-projects__add-photo-form > button.active {
	background-color: var(--dark-green);
}
